
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTurnoLabel" data-translate="turnoslicenciaApp.turno.home.createOrEditLabel">Create or edit a Turno</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.turno.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.turno.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="turnoslicenciaApp.turno.numeroTurno" for="field_numeroTurno">Numero Turno</label>
            <input type="number" class="form-control" name="numeroTurno" id="field_numeroTurno"
                    ng-model="vm.turno.numeroTurno"
                    required />
            <div ng-show="editForm.numeroTurno.$invalid">
                <p class="help-block"
                    ng-show="editForm.numeroTurno.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.numeroTurno.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="turnoslicenciaApp.turno.fechaTurno" for="field_fechaTurno">Fecha Turno</label>
                <div class="input-group">
                    <input id="field_fechaTurno" type="text" class="form-control" name="fechaTurno" uib-datepicker-popup="{{dateformat}}" ng-model="vm.turno.fechaTurno" is-open="vm.datePickerOpenStatus.fechaTurno"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaTurno')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.fechaTurno.$invalid">
                <p class="help-block"
                    ng-show="editForm.fechaTurno.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="turnoslicenciaApp.turno.estado" for="field_estado">Estado</label>
            <select class="form-control" id="field_estado" name="estado" ng-model="vm.turno.estadoId" ng-options="estadoTurno.id as estadoTurno.id for estadoTurno in vm.estadoturnos"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="turnoslicenciaApp.turno.persona" for="field_persona">Persona</label>
            <select class="form-control" id="field_persona" name="persona" ng-model="vm.turno.personaId" ng-options="persona.id as persona.id for persona in vm.personas"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="turnoslicenciaApp.turno.tipoTramite" for="field_tipoTramite">Tipo Tramite</label>
            <select class="form-control" id="field_tipoTramite" name="tipoTramite" ng-model="vm.turno.tipoTramiteId" ng-options="tipoTramite.id as tipoTramite.id for tipoTramite in vm.tipotramites"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
