<div class="container">
    <div class="well">
        <div>
            <h2 data-translate="turnoslicenciaApp.turno.home.title">Reservations</h2>
            <jhi-alert></jhi-alert>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-4 no-padding-left">
                        <button class="btn btn-primary" ui-sref="turno.new" >
                            <span class="glyphicon glyphicon-plus"></span>
                            <span >
                                Create new Reservation
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <br/>
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>

                    </div>
                </div>
            </form>
            <div class="table-responsive">
                <table id="turnos" class="jh-table table table-striped">
                    <thead>
                        <tr>
                            <th><span >ID</span></th>
                            <th><span >Reservation Date</span></th>
                            <th><span >Reservation Hour</span></th>
                            <th><span >Status</span></th>
                            <th><span >Person</span></th>
                            <th><span >Reservation Type</span></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr class="no-print">
                        <td><input type="text" class="form-control" placeholder="Id" ng-model="search.id"></td>
                        <td><input type="text" class="form-control" placeholder="Date" ng-model="fechaTurno"></td>
                        <td><input type="text" class="form-control" placeholder="Hour" ng-model="search.horaTurno"></td>
                        <td><input type="text" class="form-control" placeholder="Status" ng-model="search.estadoNombre"></td>
                        <td><input type="text" class="form-control" placeholder="Person" ng-model="search.personaNombre"></td>
                        <td><input type="text" class="form-control" placeholder="Reservation Type" ng-model="search.tipoTramiteNombre"></td>
                        <td><button class="btn btn-info" ng-click="printData()">Print</button></td>
                    </tr>
                        <tr ng-repeat="turno in vm.turnos | filter:search | dateFilter:fechaTurno">
                            <td><a ui-sref="turno-detail({id:turno.id})">{{turno.id}}</a></td>

                            <td>{{turno.fechaTurno | date:'dd/MM/yyyy'}}</td>
                            <td>{{turno.horaTurno}}</td>
                            <td>
                                <a ui-sref="estado-turno-detail({id:turno.estadoId})">{{turno.estadoNombre}}</a>
                            </td>
                            <td>
                                <a ui-sref="persona-detail({id:turno.personaId})">{{turno.personaNombre}} {{turno.personaApellido}}</a>
                            </td>
                            <td>
                                <a ui-sref="tipo-tramite-detail({id:turno.tipoTramiteId})">{{turno.tipoTramiteNombre}}</a>
                            </td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            ng-click="delete({id:turno.id})"
                                            class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                        <span class="hidden-xs hidden-sm">Delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>