
<div>
    <h2><span data-translate="turnoslicenciaApp.turno.detail.title">Turno</span> {{vm.turno.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="turnoslicenciaApp.turno.numeroTurno">Numero Turno</span></dt>
        <dd>
            <span>{{vm.turno.numeroTurno}}</span>
        </dd>
        <dt><span data-translate="turnoslicenciaApp.turno.fechaTurno">Fecha Turno</span></dt>
        <dd>
            <span>{{vm.turno.fechaTurno | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="turnoslicenciaApp.turno.estado">Estado</span></dt>
        <dd>
            <a ui-sref="estado-turno-detail({id:vm.turno.estadoId})">{{vm.turno.estadoId}}</a>
        </dd>
        <dt><span data-translate="turnoslicenciaApp.turno.persona">Persona</span></dt>
        <dd>
            <a ui-sref="persona-detail({id:vm.turno.personaId})">{{vm.turno.personaId}}</a>
        </dd>
        <dt><span data-translate="turnoslicenciaApp.turno.tipoTramite">Tipo Tramite</span></dt>
        <dd>
            <a ui-sref="tipo-tramite-detail({id:vm.turno.tipoTramiteId})">{{vm.turno.tipoTramiteId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="turno-detail.edit({id:vm.turno.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
